<div class="card">
  <div class="card-header">
    <h5>Huyện</h5>
  </div>
  <div class="card-body" >
    <form [formGroup]="createOrEditForm" (submit)="createOrUpdate()">
      <div class="mb-3" >
        <label for="maTinh" class="form-label">Tên tỉnh</label>
        <select class="form-select"  *ngIf="huyenData===null" id="maTinh" formControlName="maTinh">
          <option *ngFor="let item of listSelectTinh" [value]="item.maTinh">{{item.tenTinh}}</option>
        </select>
        <select  class="form-select" *ngIf="huyenData!=null" formControlName="maTinh">
          <option *ngFor="let item of listSelectTinh" [value]="item.maTinh" [selected]="item.maTinh === huyenData.maTinh" disabled>{{item.tenTinh}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label  class="form-label">Mã huyện</label>
        <input type="text" class="form-control"  formControlName="maHuyen">
      </div>
      <div class="mb-3">
        <label class="form-label">Tên huyện</label>
        <input type="text" class="form-control"  formControlName="tenHuyen">
      </div>
      <div class="mb-3">
        <label  class="form-label">Cấp</label>
        <input type="text" class="form-control"  formControlName="cap">
      </div>
      <div class="mb-3">
        <label  class="form-label">Active</label>
        <input type="checkbox"class="form-check-input" formControlName="isActive">
      </div>
      <button class="btn btn-primary">Lưu</button>
      <button class="btn btn-outline-danger" (click)="closeForm.emit()" >Huỷ</button>
    </form>
  </div>
</div>
