<div class="card">
  <div class="card-header">
    <h5 *ngIf="tinhData">Cập nhật tỉnh</h5>
    <h5 *ngIf="!tinhData">Thêm tỉnh</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="createOrEditForm" (ngSubmit)="createOrUpdate()">
      <div class="mb-3">
        <label  class="form-label">Mã Tỉnh</label>
        <input type="text" class="form-control"  formControlName="maTinh">
      </div>
      <div class="mb-3">
        <label class="form-label">Tên Tỉnh</label>
        <input type="text" class="form-control"  formControlName="tenTinh">
      </div>
      <div class="mb-3">
        <label  class="form-label">Cấp</label>
        <input type="text" class="form-control"  formControlName="cap">
      </div>
      <div class="mb-3">
        <label  class="form-label">Active</label>
        <input type="checkbox" class="form-check-input"  formControlName="isActive">
      </div>
      <div class="mb-3">
        <label  class="form-label">Miền</label>
        <select  class="form-select" formControlName="vungMien">
          <option class="form-control" value="1">Miền bắc</option>
          <option class="form-control" value="2">Miền trung</option>
          <option class="form-control" value="3">Miền nam</option>
        </select>
      </div>
      <div class="mb-3">
        <label  class="form-label">Vùng địa lý</label>
        <select  class="form-select" formControlName="vungDiaLy">
          <option class="form-control" value="1">Thành phố</option>
          <option class="form-control" value="2">Nông thôn</option>
          <option class="form-control" value="3">Miền núi</option>
          <option class="form-control" value="4">Duyên hải</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Vùng sinh thái</label>
        <select class="form-select" formControlName="vungSinhThai">
          <option class="form-control" value="1">Tây bắc</option>
          <option class="form-control" value="2">Đông bắc</option>
          <option class="form-control" value="3">Đồng bằng sông hồng</option>
          <option class="form-control" value="4">Bắc trung bộ</option>
          <option class="form-control" value="5">Nam trung bộ</option>
          <option class="form-control" value="6">Tây nguyên</option>
          <option class="form-control" value="7">Đông nam bộ</option>
          <option class="form-control" value="8">Tây nam bộ</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="number" class="form-control" id="id" formControlName="id" readonly>
      </div>
      <button type="submit" class="btn btn-primary">Lưu</button>
      <button (click)="closeForm.emit()" class="btn btn-outline-danger" type="button" >Hủy</button>
    </form>
  </div>
</div>
