<!-- tinh.component.html -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between">
          <h6>Quản lý tỉnh</h6>
          <div class="input-group w-md-40">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input [(ngModel)]="filter" (input)="loadFilter()" type="text" class="form-control" placeholder="nhập mã/ tên tỉnh">
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stt</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mã tỉnh</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tên tỉnh</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cấp</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Miền</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vùng địa lý</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vùng sinh thái</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hoạt động</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  <button class="btn  btn-sm text-secondary btn-outline-success" (click)="create()">Thêm</button></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let itemTinh of tinhList; let i =index">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{currentPage*10 + i+1}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{itemTinh.maTinh}}</p>
                </td>
                  <td>
                      <p class="text-xs font-weight-bold mb-0">{{itemTinh.tenTinh}}</p>
                  </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0 text-center">{{itemTinh.cap}}</p>
                </td>
                <td class="text-center">
                  <p *ngIf="itemTinh.vungMien===1" class="text-xs font-weight-bold mb-0">Miền bắc</p>
                  <p *ngIf="itemTinh.vungMien===2" class="text-xs font-weight-bold mb-0">Miền trung</p>
                  <p *ngIf="itemTinh.vungMien===3" class="text-xs font-weight-bold mb-0">Miền nam</p>
                </td>
                <td class="text-center">
                  <p *ngIf="itemTinh.vungDiaLy===1" class="text-xs font-weight-bold mb-0">Thành Phố</p>
                  <p *ngIf="itemTinh.vungDiaLy===2" class="text-xs font-weight-bold mb-0">Nông thôn</p>
                  <p *ngIf="itemTinh.vungDiaLy===3" class="text-xs font-weight-bold mb-0">Miền núi</p>
                  <p *ngIf="itemTinh.vungDiaLy===4" class="text-xs font-weight-bold mb-0">Duyên hải</p>

                </td>
                <td class="text-center">
                  <p *ngIf="itemTinh.vungSinhThai===1" class="text-xs font-weight-bold mb-0">Tây bắc</p>
                  <p *ngIf="itemTinh.vungSinhThai===2" class="text-xs font-weight-bold mb-0">Đông bắc</p>
                  <p *ngIf="itemTinh.vungSinhThai===3" class="text-xs font-weight-bold mb-0">Đồng bằng sông hồng</p>
                  <p *ngIf="itemTinh.vungSinhThai===4" class="text-xs font-weight-bold mb-0">Bắc trung bộ</p>
                  <p *ngIf="itemTinh.vungSinhThai===5" class="text-xs font-weight-bold mb-0">Nam trung bộ</p>
                  <p *ngIf="itemTinh.vungSinhThai===6" class="text-xs font-weight-bold mb-0">Tây nguyên</p>
                  <p *ngIf="itemTinh.vungSinhThai===7" class="text-xs font-weight-bold mb-0">Đông nam bộ</p>
                  <p *ngIf="itemTinh.vungSinhThai===8" class="text-xs font-weight-bold mb-0">Tây nam bộ</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span *ngIf="itemTinh.isActive" class="badge badge-sm bg-gradient-success">On</span>
                    <span *ngIf="!itemTinh.isActive" class="badge badge-sm bg-gradient-danger">Off</span>
                </td>
                <td class="align-middle">
                  <button class="btn btn-outline-info text-secondary btn-sm" (click)="edit(itemTinh)">Sửa</button>
                  <button class="btn btn-outline-danger text-secondary btn-sm" (click)="delete(itemTinh.id)">Xoá</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <button class="btn" (click)="prevPage()" [disabled]="skipCount === 0">Previous</button>
        <button class="btn" (click)="nextPage()" >Next</button>
    </div>
  </div>

    <div class="overlay" *ngIf="showform"></div>
  <div class="row form-tinh" *ngIf="showform">
    <div class="col-12">
      <app-form-tinh [tinhData]="selectedTinh" (closeForm)="closeForm()"></app-form-tinh>
    </div>
  </div>
</div>
