/* Error: There is no module with the namespace "math".
 *    ,
 * 57 |   $dividend: math.abs($dividend);
 *    |              ^^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\..\assets\libs\bootstrap\scss\vendor\_rfs.scss 57:14   divide()
 *   ..\..\assets\libs\bootstrap\scss\vendor\_rfs.scss 102:44  @import
 *   ..\..\assets\libs\bootstrap\scss\_mixins.scss 6:9         @import
 *   ..\..\assets\libs\bootstrap\scss\bootstrap.scss 11:9      @import
 *   sidebar.component.scss 10:9                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "math".\a    \2577 \a 57 \2502    $dividend: math.abs($dividend);\a    \2502               ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\..\\assets\\libs\\bootstrap\\scss\\vendor\\_rfs.scss 57:14   divide()\a   ..\\..\\assets\\libs\\bootstrap\\scss\\vendor\\_rfs.scss 102:44  @import\a   ..\\..\\assets\\libs\\bootstrap\\scss\\_mixins.scss 6:9         @import\a   ..\\..\\assets\\libs\\bootstrap\\scss\\bootstrap.scss 11:9      @import\a   sidebar.component.scss 10:9                               root stylesheet';
}
