<div class="card">
<div class="card-header">
  <h5>Xã</h5>
</div>
  <div class="card-body">
    <form [formGroup]="createOrUpdateForm" (ngSubmit)="update()">
      <div class="mb-3">
        <label class="form-label">Tỉnh/Thành Phố</label>
        <select class="form-select" formControlName="maTinh">
          <option *ngFor="let itemTinh of listFormTinh" [value]="xaData.maTinh" >
            {{itemTinh.tenTinh}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Huyện/Quận</label>
        <select class="form-select"  formControlName="maHuyen">
          <option *ngFor="let itemHuyen of listFormHuyen" [value]="xaData.maHuyen">
            {{itemHuyen.tenTinh}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label  class="form-label">Mã xã</label>
        <input type="text" class="form-control"  formControlName="maXa">
      </div>
      <div class="mb-3">
        <label  class="form-label">Tên xã</label>
        <input type="text"class="form-control"  formControlName="tenXa">
      </div>
      <div class="mb-3">
        <label  class="form-label">Cấp</label>
        <input type="text" class="form-control"  formControlName="cap">
      </div>
      <div class="mb-3">
        <input type="checkbox" class="form-check-input"  formControlName="isXaNgheo">
        <label  class="form-label">Xã nghèo</label>
      </div>
      <div class="mb-3">
        <input type="checkbox" class="form-check-input"  formControlName="isXaMienNui">
        <label  class="form-label">Xã miền núi</label>
      </div>
      <div class="mb-3">
        <input type="checkbox" class="form-check-input"  formControlName="isXaDanToc">
        <label  class="form-label">Xã dân tộc</label>
      </div>
      <div class="mb-3">
        <input type="checkbox" class="form-check-input"  formControlName="isThanhThi">
        <label  class="form-label">Xã thành thị</label>
      </div>
      <div class="mb-3">
        <input type="checkbox" class="form-check-input"  formControlName="isActive">
        <label  class="form-label">Active</label>
      </div>
      <button class="btn btn-primary" type="submit">Lưu</button>
      <button (click)="closeForm.emit()" class="btn btn-secondary" type="reset">Hủy</button>
    </form>
  </div>
</div>
